.stop-watch {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.stop-watch-time {
    font-size: 30px;
}

.stop-watch-btn {
    margin-top: 15px;
}

.start-btn {
    margin-right: 10px;
    font-size: 15px;
}